<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fh.module_discount">

    <application >

        <activity android:name="com.discountall.discount.WebPicAct"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>
</manifest>