<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fh.module_base_resouce">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.customer.component.activity.GlobalWebAct"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/SwipeBackStyle" />
        <activity
            android:name="com.customer.component.activity.RechargeWebAct"
            android:theme="@style/SwipeBackStyle" />
        <activity
            android:name="com.customer.component.activity.RechargeUsdtWeb"
            android:theme="@style/SwipeBackStyle" />
        <provider
            android:name="com.customer.component.utakephoto.TakePhotoProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/take_file_path" />
        </provider>

        <activity
            android:name="com.customer.component.utakephoto.crop.CropActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Crop" />
        <activity android:name="com.customer.component.ActivityDialogSuccess"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/DialogActivity"/>
        <activity android:name="com.customer.component.activity.DialogLotteryMoney"
            android:launchMode="singleTask"
            android:theme="@style/dialog_style"/>
        <activity android:name="com.customer.component.activity.DialogUnLoginRed"
            android:launchMode="singleTask"
            android:theme="@style/dialog_style"/>
        <activity android:name="com.customer.component.activity.RedRainActivity"
            android:launchMode="singleTask"
            android:theme="@style/dialog_style"/>
    </application>
</manifest>
